export API_PORT=55821

# HTTP hostnames
export API_HOST=http://redline-jf-fix-mobile-dash-api.localhost

# External hostnames (Cloudflare tunnel)
export API_EXTERNAL_HOST=https://redline-jf-fix-mobile-dash-api.jon-fox.com

export SESSION_NAME=jf-fix-mobile-dash
